.partgauche{
    width: 1000px;
}

#presentation {
    width: 200px;
    display: block;
}

#synopsis {
    background-color: aqua;
    float: left;
    margin-bottom: 50px;
}

#extrait > article {
    width: 200px;
    display: inline-block;
}

#part1 {
    background-color:green;
    position: absolute;
    top: 155%;
    left: 15%;
}

#part2 {
    background-color:green;
    position: absolute;
    top: 155%;
    left: 30%;
}

#part3 {
    background-color:green;
    position: absolute;
    top: 155%;
    left: 45%;
}

#partdroite {
    position: absolute ;
    left: 56%;
    margin-right: 0%;
    display: inline;
}
#droitesup{
    margin-bottom: 50px;
}
#droitesup > p {
    width: 360px;
    background-color:rgb(80, 79, 79);
}
#droitesup >img{
    width: 200px;
    height: 300px;
    float: right;
    margin-right: 20px;
}
#droiteinfe > p {
    width: 550px;
    background-color: rgb(12, 231, 247);
}

figure {
    position: absolute ;
    left: 15%;
    margin-right: 20%;
}

footer {
    position: absolute;
    top: 209%;
    margin-top:350px;
}
body{
    text-align: justify;
}

#extrait > h3 {
    display:none;
}
